.block.relatedItems {
  .inner-container {
    padding: 3rem;
    background: var(--theme-high-contrast-color);

    h2.headline {
      color: var(--primary-foreground-color);
    }

    ul.items-list {
      color: var(--primary-foreground-color);
      li a {
        color: var(--link-foreground-color);
      }
    }
  }
}
