#view {
  .block.separator {
    margin-top: 25px;
    margin-bottom: 25px;
    .line:not(.inner)::after {
      border-top-color: var(--light-blue) !important;
    }
  }
}
#page-document {
  .headline {
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--headline-foreground);
    font-weight: var(--header-font-weight);
  }
  .blocks-group-wrapper {
    padding-bottom: 0px;
    figure {
      margin-top: 0px;
      margin-bottom: 0px;
      img {
        border-radius: var(--border-radius-img);
        box-shadow: 0 0 10px 5px var(--listing-box-shadow-color);
      }
    }
    .heading {
      .heading-wrapper {
        h2 {
          margin-bottom: 20px;
          color: rgb(113, 121, 124);
          font-size: 46px;
          font-weight: 700;
          text-align: left;
        }
      }
    }
    .documentFirstHeading {
      display: none;
    }
    p {
      padding: 0.5rem;
      background-color: white;
      color: #5e6a72;
      font-weight: 200;
    }
    p:empty {
      display: none;
    }
  }
  .dates {
    display: none;
  }
}
